.gameLine{
    border: 0.1em solid;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.1em;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}
.teamLinkLeft{
    float: left;
    font-size: 1em;
    padding: 0.1em 0.5em 0.1em 0.5em;
    text-align: right;
    flex-basis: 45%;
}
.middle{
    text-align: center;
    flex-basis: 15%;
}
.teamLinkRight{
    float: right;
    font-size: 1em;
    padding: 0.1em 0.5em 0.1em 0.5em;
    text-align: left;
    flex-basis: 35%;
}

.date{
    float: right;
    flex-basis: 5%;
    margin-right: 0.2em;
}