.leaguesList{
    border: 0.1em solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2em;
}

.leagueLine{
    display: flex;
    border:0.1em solid black;
    border-radius: 0.2em;
    text-align: center;
    margin: 0.3em;
    flex-basis: 31%;
    justify-content: space-between;
    padding: 0.1em;
}
